# direnv
.envrc

# vscode
.vscode/

# idea
.idea/

# npm
node_modules

# hugo
.hugo/public/
.hugo/resources/_gen
.hugo_build.lock

# coverage
.coverage

# python
__pycache__/

# executable
genai-toolbox
toolbox